<div class="d-flex justify-content-center vw-90">
    <div class="d-none d-md-flex flex-column align-items-center text-center w-75">
        <h1 class="display-3 mb-5"><span class="font-weight-bold">About</span> Me</h1>
        <h4 class="mb-4">After working in the design and build industry for almost a decade, I decided a couple of years
            ago to make a
            change
            and pursue a career as a Frontend Developer. Since then I've completed a Diploma and gone on to build my own
            projects and deepen my knowledge of different languages and technologies.</h4>
        <h4 class="mb-4">
            I'm a driven individual and constantly looking to expand my skillset. As a former Project Manager, I've been
            able to
            transfer my problem-solving skills and apply them to coding. I have a passion for creating websites which
            are
            intuitive and enjoyable to use.
        </h4>
        <h4 class="mb-4">
            I'm based in Surrey, UK.
        </h4>
    </div>
    <div class="d-sm-flex d-md-none flex-column align-items-center text-center vw-90">
        <h1><span class="font-weight-bold">About</span> Me</h1>
        <h5 class="mb-4">After working in the design and build industry for almost a decade, I decided a couple of years
            ago to make a
            change
            and pursue a career as a Frontend Developer. Since then I've completed a Diploma and gone on to build my own
            projects and deepen my knowledge of different languages and technologies.</h5>
        <h5 class="mb-4">
            I'm a driven individual and constantly looking to expand my skillset. As a former Project Manager, I've been
            able to
            transfer my problem-solving skills and apply them to coding. I have a passion for creating websites which
            are
            intuitive and enjoyable to use.
        </h5>
        <h5 class="mb-4">
            I'm based in Surrey, UK.
        </h5>
    </div>
</div>