<div class="d-flex min-vh-10 vw-90 d-flex flex-column justify-content-center m-2 mx-auto">
    <div class="d-flex justify-content-center m-2 flex-wrap">
        <button type="button" class="m-2 btn btn-light border-0 bg-transparent" placement="top" ngbTooltip="Dev">
            <i class="fa-2x fab fa-dev"></i>
        </button>
        <button type="button" class="m-2 btn btn-light border-0 bg-transparent" placement="top" ngbTooltip="Dribbble">
            <i class="fa-2x fab fa-dribbble"></i>
        </button>
        <button type="button" class="m-2 btn btn-light border-0 bg-transparent" placement="top" ngbTooltip="Github">
            <i class="fa-2x fab fa-github-alt"></i>
        </button>
        <button type="button" class="m-2 btn btn-light border-0 bg-transparent" placement="top" ngbTooltip="Linkedin">
            <i class="fa-2x fab fa-linkedin-in"></i>
        </button>
        <button type="button" class="m-2 btn btn-light border-0 bg-transparent" placement="top" ngbTooltip="Twitter">
            <i class="fa-2x fab fa-twitter"></i>
        </button>
    </div>
    <h5 class="text-center font-weight-bold pb-3">© Jane Doe</h5>
</div>