<div class="d-none d-md-flex flex-column align-items-center text-center vw-100">
    <h1 class="display-3 mb-5"><span class="font-weight-bold">My</span> Skills</h1>
    <div class="d-flex w-100 justify-content-center">
        <ul class="w-25 list-group ml-3 mr-3">
            <li class="list-group-item">
                <h3 class="font-weight-lighter">CORE STACK</h3>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-react"></i>
                    React
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-angular"></i>
                    Angular
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-vuejs"></i>
                    Vue.js
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-node-js"></i>
                    Node.js
                </h4>
            </li>
        </ul>
        <ul class="w-25 list-group ml-3 mr-3">
            <li class="list-group-item">
                <h3 class="font-weight-lighter">DABBLED IN</h3>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-docker"></i>
                    Docker
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-lg fa-ember"></i>
                    Ember.js
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-android"></i>
                    Android
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-java"></i>
                    Java
                </h4>
            </li>
        </ul>
        <ul class="w-25 list-group ml-3 mr-3">
            <li class="list-group-item">
                <h3 class="font-weight-lighter">LEARNING</h3>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-python"></i>
                    Python
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-sass"></i>
                    Sass
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-swift"></i>
                    Swift
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <i class="fab fa-aws"></i>
                    AWS
                </h4>
            </li>
        </ul>
    </div>
</div>
<div class="d-sm-flex d-md-none flex-column align-items-center text-center vw-100">
    <h1 class="mb-3"><span class="font-weight-bold">My</span> Skills</h1>
    <div class="d-flex flex-column w-100 justify-content-center">
        <ul class="list-group mb-4 mr-4 ml-4">
            <li class="list-group-item">
                <h5 class="font-weight-lighter">CORE STACK</h5>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-react"></i>
                    React
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-angular"></i>
                    Angular
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-vuejs"></i>
                    Vue.js
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-node-js"></i>
                    Node.js
                </h6>
            </li>
        </ul>
        <ul class="list-group mb-4 mr-4 ml-4">
            <li class="list-group-item">
                <h5 class="font-weight-lighter">DABBLED IN</h5>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-docker"></i>
                    Docker
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-lg fa-ember"></i>
                    Ember.js
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-android"></i>
                    Android
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-java"></i>
                    Java
                </h6>
            </li>
        </ul>
        <ul class="list-group mb-4 mr-4 ml-4">
            <li class="list-group-item">
                <h5 class="font-weight-lighter">LEARNING</h5>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-python"></i>
                    Python
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-sass"></i>
                    Sass
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-swift"></i>
                    Swift
                </h6>
            </li>
            <li class="list-group-item">
                <h6>
                    <i class="fab fa-aws"></i>
                    AWS
                </h6>
            </li>
        </ul>
    </div>
</div>